<!DOCTYPE html>
<html lang="en">
    <head>

    </head>
    <body>
        <div class="report-header">
            <img style="margin: 10px" width="50px" height="50px" src="https://img.freepik.com/premium-vector/lab-logo-vector-design_16734-26.jpg?w=2000" />
        </div>
        <div class="report-body">
            <div class="report-patient-details">
                <div class="report-patient-metadata">
                    <div>
                        Name: {{patientName}}
                    </div>
                    <div>
                        Age/Gender: {{age}}/{{gender}}
                    </div>
                    <div>
                        Patient No: {{patientNo}}
                    </div>
                    <div>
                        HealthFacility: {{healthFacilityName}}
                    </div>
                </div>
                <div>
                    <div>
                        Bill No: {{billNo}}
                    </div>
                    <div>
                        Sample Collected On: {{sampleCollectedOn}}
                    </div>
                </div>
            </div>
            <hr />
            <div class="report-title">
                {{name}}
            </div>
            <hr />
            <div class="report-sample-details">
                <table style="width:100%">   
                    <tr>
                        <th>
                            Specimen / Test Name
                        </th>
                        <th>
                            Result
                        </th>
                        <th>
                            Units
                        </th>
                        <th>
                            Normal Ranges
                        </th>
                    </tr>     
                    {{#tableRows subSections}} 
                        {{#ifEquals sectionType "heading" }}
                            <td colspan="5" style="font-weight: 700;">{{name}}</td>
                            {{#tableRows reportFields}}
                                <td style="font-weight: 400; font-size: 14px">{{name}}</td> 
                                <td style="font-weight: 400; font-size: 14px">{{defaultValue}} </td>
                                <td style="font-weight: 400; font-size: 14px">{{unit}}</td>
                                <td style="font-weight: 400; font-size: 14px">{{""}}</td>
                            {{/tableRows}}
                        {{else}}
                            <td>{{name}}</td> 
                            <td>{{defaultValue}} </td>
                            <td>{{unit}}</td>
                            <td>&nbsp;</td>
                            {{!-- <td>{{normalValues.common[0].minValue}}-{{normalValues.common[0].maxValue}}</td> --}}
                        {{/ifEquals}}
                    {{/tableRows}}
                    <tr>
                        <td colspan="5">&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="5" style="text-align: center;">**End of the Report**</td>
                    </tr>
                </table>
            </div>
            <div class="report-signature-details">
                <img width="70px" height="70px" src="https://i.stack.imgur.com/izrMq.jpg" />
                <img width="70px" height="70px" src="https://i.stack.imgur.com/izrMq.jpg" />
                <img width="70px" height="70px" src="https://i.stack.imgur.com/izrMq.jpg" />
            </div>
        </div>

        <div class="report-footer">
            <hr/>
            Powered by RutoHealth.
        </div>
    </body>
    <style>
        body {
            margin: 7%;
            position: relative;
        }
        table tr {
            height: 30px;
        }
        table :nth-child(even) {
            background-color: #fff;
        }
        th {
            font-weight: 700;
            font-size: 22px;
        }
        td {
            font-weight: 500;
            font-size: 18px;
        }
        .report-header {
            background-color: lightblue;
            border-radius: 8px;
        }
        .report-header img {
            margin: 10px;
            border-radius: 4px;
        }
        .report-body .report-patient-details {
            margin: 10px;
            padding: 10px;
            display: flex;
            justify-content: space-between;
        }
        .report-body .report-title {
            margin: 10px 0;
            text-align: center;
        }
        .report-body .report-sample-details {
            background-color: #f0f2f2;
            border-radius: 4px;
        }
        .report-body .report-patient-details .report-patient-metadata {

        }
        .report-body .report-signature-details {
            display: flex;
            justify-content: space-evenly;
            margin: 20px auto;
        }
        .report-footer {
            text-align: center;
            bottom: 0;
            width: 100%;
        }
    </style>
</html>